* {
    margin: 0;
    padding: 0;
}

.navbar-nav a {
    margin-right: 18px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.742);

}


.headerorta {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.headerlogo {
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.navbar-nav {
    padding: 25px;
}

a:hover {
    background-color: white;
    border-radius: 15px;
}